<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                <ul class="social-links">
                    <li><a href="https://gitlab.com/AndrewSkea/" class="wow fadeInUp social-link" data-wow-delay=".2s"
                           target="_blank"><i class="fa fa-github"></i></a>GitLab</li>
                    <li><a href="https://github.com/AndrewSkeaIS" class="wow fadeInUp social-link" data-wow-delay=".2s"
                           target="_blank"><i class="fa fa-github"></i></a>Work</li>
                    <li style="color: black"><a href="https://www.linkedin.com/in/andrew-skea-620972115/" class="wow fadeInUp social-link"
                           data-wow-delay=".1s" target="_blank"><i class="fa fa-linkedin"></i></a>.</li>
                    <li style="color: black"><a href="mailto:andrew@aiscreate.com" class="wow fadeInUp social-link"
                           data-wow-delay=".4s"><i class="fa fa-envelope"></i></a>.</li>
                </ul>

                <p class="copyright">Please get in contact through my <a href="/#contact">Contact Form</a>, or
                    <a href="https://www.linkedin.com/in/andrew-skea-620972115/" target="_blank">LinkedIn</a>.</p>


            </div>

        </div>
    </div>
</footer>