{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
    <section id="portfolio">
        <div class="pfblock" style="padding-bottom:30px; background-color: #74d3e2">
            <div class="offset-lg-2 col-lg-8 wow fadeInUp">
                <h2 class="pfblock-title" style="color: black;">What I can offer</h2>
                <div class="pfblock-line"></div>
                <div class="pfblock-subtitle" style="color: black; text-align: center;">
                    <p>I build websites for personal, e-commerce, business or any other use.</p>
                    <p>I start by talking to you to understand exactly what you want from your site before designing
                        it.</p>
                    <p>Once the plans are drawn up, I hand them over to you and we alter them until you are happy.</p>
                    <p>Whilst making the site, I update you frequently on my progress and let you see what I have
                        achieved.</p>
                    <p>Once you are happy with the site, I will publish it and support it moving forwards.</p>
                </div>
            </div>
        </div>
        <div class="sm-pfblock" style="background-color: #FFFFFF">
            <div class="offset-lg-2 col-lg-8 wow fadeInUp">
                <h2 class="pfblock-title">Background & Experience</h2>
                <div class="pfblock-line"></div>
                <div class="pfblock-subtitle" style="text-align: center;">
                    <p>I set this company up in order to provide software and solutions to clients around the world.</p>
                    <p>Its intention is to create high-end personal and business websites for a great price using
                        templates and pre-designed solutions I have made myself. As the company becomes more established,
                        it has branched out to creating personalised software and mobile apps too.</p>
                    <br><br>
                    <p>On top of my university degree, I have had a large amount of experience creating complex websites
                        for government and business needs with an array of different requirements. Mostly, I have
                        experience with Python and Django frameworks but have worked with a host of different
                        technologies.</p>
                    <p>I have now created and published multiple websites under AIS Software and aim to offer a more
                        personal and friendly experience when building your new website.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
