{% load crispy_forms_tags %}

<form action="#contact" method="post" id="contact-form">
    <div class="ajax-hidden">
        {% if messages %}
            <ul class="messages" style="list-style-type: none;color: red;text-align:center">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.full_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        {{ form.subject|as_crispy_field }}
        {{ form.message|as_crispy_field }}

        <div id="button">
            <input id="submit" class="submit_button btn btn-lg btn-block wow fadeInUp" type="submit" value="SEND"/>
        </div>
    </div>
    <div class="ajax-response"></div>
</form>
