{% extends "base.html" %}
{% load static %}
{% block title %}AISCreate{% endblock %}

{% block content %}
    <section id="mainhome" class="pfblock pfblock-custom-colour">
        <div class="container">
            <div class="row">
                <div class="intro-custom">
                    <div>
                        <h1 class="pfblock-title">Welcome to AISCreate</h1>
                        <div class="pfblock-line pfblock-line-longer"></div>
                        <div class="pfblock-subtitle">
                            <h5 class="start" style="text-align: center">Click on the button to view more</h5>
                        </div>
                    </div>
                    <div style="padding-top: 30px">
                        <a href="{% url 'main:about' %}">
                            <button type="button"
                                    class="btn btn-outline-primary custom-btn-outline grow" style="padding:0;">ABOUT
                            </button>
                        </a>
                        <span style="padding-left: 30px; padding-right: 30px">OR</span>
                        <a href="{% url 'main:portfolio' %}">
                            <button type="button"
                                    class="btn btn-outline-primary custom-btn-outline grow" style="padding:0;">PORTFOLIO
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="offer" class="pfblock">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-lg-1"></div>
            <div class="col-sm-10 col-lg-10">
                <div class="pfblock-header">
                    <h2 class="pfblock-title">What we offer</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle text-center">
                        <strong style="font-size:larger; font-weight: bold">We create stunning, innovative websites that
                            will make your main and brand stand out.</strong><br>
                        Our personal touch when designing and creating a website ensures you are getting the
                        product you want.
                        <br><br>
                        <ul style="list-style-position: inside;">
                            <li>Start with an initial assessment of what you would like, what you are promoting and how
                                you want to use your site.
                            </li>
                            <li>From there, I will show you a few sites that I have made and you can decide whether you
                                want something similar or more your style.
                            </li>
                            <li>Then let the creating begin!</li>
                            <li>You will get regular updates on the progress and support will be given throughout and
                                after completion!
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-xs-1 col-sm-1 col-lg-1"></div>

        </div>
    </section>


    <section id="contact" class="pfblock wow fadeInUp" style="background-color: #d2c9c6">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3"></div>
            <div class="col-sm-6 col-lg-6">

                <div class="pfblock-header" style="padding-top: 50px">
                    <h2 class="pfblock-title">Contact</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle text-center">
                        Please fill in the form below with any ideas, requests or questions you have and I'll be happy to respond as quick as I can!
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3"></div>
            <div class="col-sm-6 col-sm-offset-3  col-lg-6 col-lg-offset-3">
                {% include 'main/contact_form.html' %}
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3"></div>

        </div>
    </section>
{% endblock %}