{% extends "base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock %}

{% block content %}
    <section id="portfolio" class="pfblock">
        <div class="container">
            <div class="row" style="padding-top: 100px">
                <div class="col-xs-3 col-sm-3 col-lg-3"></div>
                <div class="col-sm-6 col-lg-6">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">PORTFOLIO</h2>
                        <div style="margin: 10px auto !important;" class="pfblock-line"></div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3"></div>
            </div>

            <div class="row">
                {% for project in projects %}
                    <div class="card col-sm-5 col-lg-5" style="margin-left: 47px;">
                        <div style="width: 100%; height: 30%">
                            <img class="card-img-top" src="{% static project.image_path %}"
                                 style="height: 100%;" alt="{{ project.img_name }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">
                                {{ project.description }}
                            </p>
                            <h3>Skills Used</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for skill in project.skills %}
                                <li class="list-group-item">{{ skill }}</li>
                            {% endfor %}
                        </ul>
                        <div class="card-body" style="padding-top: 10px">
                            <a href="{{ project.url }}" class="card-link" target="_blank">{{ project.url }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}