
body {
    font: 300 14px/1.8 'Raleway', sans-serif;
    color: #666;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #999;
}

a:hover {
    text-decoration: none;
    color: #E7746F;
}

.col-xs-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
}

/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */

/*.navbar a,*/
/*.form-control {*/
    /*-webkit-transition: all 0.4s ease-in-out 0s;*/
    /*-moz-transition: all 0.4s ease-in-out 0s;*/
    /*-ms-transition: all 0.4s ease-in-out 0s;*/
    /*-o-transition: all 0.4s ease-in-out 0s;*/
    /*transition: all 0.4s ease-in-out 0s;*/
/*}*/

a,
.btn {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

/*.btn,*/
/*.form-control,*/
/*.form-control:hover,*/
/*.form-control:focus,*/
/*.navbar-custom .dropdown-menu {*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
/*}*/

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font: 700 40px/1.2 Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    color: #222;
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
}

h3 {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

h4 {
    font-size: 12px;
    letter-spacing: 1px;
}

h5 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.iconbox,
.progress,
#filter li,
.scroll-up a,
.form-control,
.input-group-addon {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/* ---------------------------------------------- /*
 * Input-group
/* ---------------------------------------------- */

.input-group .form-control {
    z-index: auto;
}

.input-group-addon {
    background: #D8E1E4;
    border: 2px solid #D8E1E4;
    padding: 6px 15px;
    font-weight: 700;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control:focus {
    border-color: rgba(135, 135, 135, 0.7);
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
    height: 38px;
    font-size: 13px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
    font-size: 11px;
    height: 30px;
}

input:nth-child(3n) {
    height: 500px;
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 8px 26px;
    border: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    outline: inherit !important;
}

/* Button size */

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 25px;
    font-size: 13px;
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
}

.btn-lg:hover,
.btn-group-lg > .btn:hover {
    background: rgba(17, 17, 17, 1.8);
    color: #fff;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 6px 25px;
    font-size: 11px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 5px 25px;
    font-size: 10px;
}

.btn .icon-before {
    margin-right: 6px;
}

.btn .icon-after {
    margin-left: 6px;
}

/* ---------------------------------------------- /*
 * General Styles
/* ---------------------------------------------- */

.pfblock {
    padding: 120px 0 100px;
}

.sm-pfblock {
    padding: 30px 0 30px;
}

.pfblock-gray {
    background: #f5f5f5;
}

.pfblock-custom-colour {
    background: #4EB5C6;
}

.pfblock-image {
    padding: 0;
}

.calltoaction h1,
.calltoaction h2,
.calltoaction h3,
.calltoaction h4,
.calltoaction h5,
.calltoaction h6,
.pfblock-image,
.pfblock-image h1,
.pfblock-image h2,
.pfblock-image h3,
.pfblock-image h4,
.pfblock-image h5,
.pfblock-image h6 {
    color: #fff;
}

.pfblock-header {
    text-align: center;
    margin: 0 0 60px;
}

.pfblock-header-left {
    text-align: left;
}

.pfblock-header-left .pfblock-line {
    width: inherit;
    margin: 30px 0;
}

.pfblock-title {
    text-align: center;
    font-weight: 800;
}

.pfblock-subtitle {
    text-align: left;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.pfblock-line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}

.pfblock-line-longer {
    background: rgba(80, 80, 80, 0.5);
    width: 30%;
}

#myphoto {
    margin-top: 10vh;
    border-radius: 100%;
    filter: grayscale(60%);
    width: 300px;
}

.skills {
    display: inline-block;
    margin: 2vh auto 2vh auto;
}

div[class^="devicon"] {
    display: block;
    color: #333333;
    font-size: 80px;
    margin: 2vh auto 2vh auto;
    text-align: center;
}

div[class^="devicon"]:hover {
    color: #999;
}

div[class^="devicon"] span {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
    display: block;
}

@media (max-width: 620px) {
    #me {
        margin-top: 1vh;
    }

    div[class^="devicon"] {
        font-size: 40px;
    }

    div[class^="devicon"] > span {
        font-size: 10px;
    }
}

.pfblock-icon {
    font-size: 32px;
}

.calltoaction * {
    text-align: center;
}

.calltoaction {
    background: url(../images/action.jpg);
    background-color: #222;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px 0;
    color: #999;
}

.calltoaction h2 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.calltoaction-decription {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

.calltoaction-btn {
    text-align: center;
}

.calltoaction-btn > .btn {
    background: rgba(255, 255, 255, .8);
    color: #111;
    margin-top: 5px;
    margin-bottom: 5px;
}

.calltoaction-btn > .btn:hover {
    background: #fff;
}

.long-down {
    margin-bottom: 40px;
}

#personalhome {
    background: url(../images/personal_cover.jpg);
    background-color: #222;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

#companyhome {
    background: #74d3e2 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%
}

#virginhome {
    background: url(../images/virgin_cover.jpg);
    background-color: #222;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

#portfolio {
    height: 100%;
    margin: 0;
    padding: 0;
}

.portfolio-logo-container {
    background-color: lightgrey;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#preloader-logo {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 35%;
    top: 35%;
    z-index: 10000;
}

.home-overlay {
    background: rgba(44, 62, 80, 0.3) url("../images/pattern.png") repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
}

.cls-1 {
    fill: #4eb5c6;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: .25px
}

.intro-custom {
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

.intro h1 {
    font-weight: 800;
}

.start {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-transform: none;
    margin: 15px 0;
}

.custom-btn-outline {
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    font-size: x-large;
    line-height: 300%;
    width: 160px;
    height: 75px;
}
.appear-in-large {
    display: inline;
}

.appear-in-small {
    display: none;
}
@media (max-width: 767px) {
    .appear-in-large {
        display: none;
    }

    .appear-in-small {
        display: inline;
    }
}



.masonary-container {
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
}

.masonary-cols {
    -moz-column-count: 3;
    -moz-column-gap: 3%;
    /*-moz-column-width: 30%;*/
    -webkit-column-count: 3;
    -webkit-column-gap: 3%;
    /*-webkit-column-width: 30%;*/
    column-count: 3;
    column-gap: 3%;
    /*column-width: 30%;*/
}

.masonary-box {
    margin-bottom: 20px;
    height: 100px;
    background: #BFBFBF;
}

/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

.ajax-response {
    text-align: center;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
    background: #222;
    text-align: center;
    padding: 40px 0;
    color: #FFF;
    position: relative;
    bottom: 0px;
    height: 150px;
    width: 100%;
}

.copyright {
    margin: 0;
}

.copyright a {
    border-bottom: 1px dotted #fff;
}

#footer span {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-link {
    color: rgba(255, 255, 255, .7) !important;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.social-links li {
    display: inline-block;
    margin: 5px;
}

.social-links a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, .2);
}

.social-links a:hover {
    border: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .8);
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.header {
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 998;
}

/*.navbar-custom {*/
    /*border: 0;*/
    /*border-radius: 0;*/
    /*margin: 0;*/
    /*text-transform: uppercase;*/
    /*font-family: Raleway, sans-serif;*/
/*}*/

/*.navbar-custom,*/
/*.navbar-custom .dropdown-menu {*/
    /*background: #fff;*/
    /*padding: 0;*/
/*}*/

/*.navbar-custom .navbar-brand,*/
/*.navbar-custom .navbar-nav > li > a,*/
/*.navbar-custom .navbar-nav .dropdown-menu > li > a {*/
    /*font-size: 11px;*/
    /*letter-spacing: 3px;*/
    /*color: #222;*/
/*}*/

/*.navbar-custom .nav li.active,*/
/*.navbar-custom .nav li a:hover,*/
/*.navbar-custom .nav li a:focus,*/
/*.navbar-custom .navbar-nav > li.active a {*/
    /*background: none;*/
    /*outline: 0;*/
    /*color: #E7746F;*/
/*}*/

/*.navbar-custom .navbar-brand {*/
    /*font-weight: 700;*/
    /*font-size: 22px;*/
    /*font-family: Lobster, cursive;*/
/*}*/

/*.navbar-custom .dropdown-menu {*/
    /*border: 0;*/
    /*border-top: 2px solid #E7746F;*/
    /*border-radius: 0;*/
/*}*/

/*.navbar-custom .dropdown-menu > li > a {*/
    /*padding: 10px 20px;*/
/*}*/

/*.navbar-custom .nav .open > a,*/
/*.navbar-custom .dropdown-menu > li > a:hover,*/
/*.navbar-custom .dropdown-menu > li > a:focus {*/
    /*background: #f5f5f5;*/
/*}*/

/*.navbar-custom .navbar-toggle .icon-bar {*/
    /*background: #222;*/
/*}*/

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, .8);
    color: #e7746f;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
}

.scroll-down span {
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 767px) {

    .calltoaction {
        text-align: center;
    }

}

@media (max-width: 480px) {

    h1 {
        font-size: 34px;
        letter-spacing: 3px;
    }

    h2 {
        font-size: 24px;
        margin: 0 0 30px;
        letter-spacing: 3px;
    }

}

/*--------------------------------*/
/***** Portfolio Common style *****/
/*--------------------------------*/

.card {
    padding: 0px 10px 0px 5px;
    margin: 10px 30px 10px;
    border: 1px solid lightgray;
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    max-width: 100%;
    list-style: none;
    text-align: center;
}

.grid h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 0;
    margin: 10px 0px;
    color: #43576f;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 1px 1%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid img {
    margin-right: 10px;
}

.tools {
    height: 60px;
    display: inline-block;
}

.tools > span {
    display: inline-block;
    background-color: #E7746F;
    color: white;
    margin-left: 5px;
    padding: 1px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font: 5px sans-serif;
}

.tools > span:hover {
    background-color: #999;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.effect-bubba h2 {
    padding-top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    color: #fff;
}

figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#myphoto {
    margin-top: 10vh;
    border-radius: 100%;
    filter: grayscale(30%);
    width: 300px;
}

.clearbutton {
    background-color: #000000;
    backgroundopacity: 0.0;
    margin-right: 15px;
    padding: 15px 30px
}

.card-link:hover {
    transition: .2s ease;
    transform: scale(1.15);
    cursor: pointer;
}

.custom-subtitle {
    color: #0014ff !important;
    font-size: 20px;
    font-weight: bold;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.navbar ul li {
    list-style-type: none;
    padding: 0;
}
.navbar .dropdown-item {
    width: auto;
}

small > ul {
    list-style-type: none;
}