{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
    <section id="portfolio">
        <div class="pfblock" style="padding-bottom:30px; background-color: #74d3e2">
            <div class="offset-lg-2 col-lg-8 wow fadeInUp">
                <h2 class="pfblock-title" style="color: black;">Login</h2>
                <div class="pfblock-line"></div>
                <div class="pfblock-subtitle" style="color: black; text-align: center;">

                    <form action="#signup" method="post" id="signup-form">
                        <div class="ajax-hidden">
                            {% if messages %}
                                <ul class="messages" style="list-style-type: none;color: red;text-align:center">
                                    {% for message in messages %}
                                        <li{% if message.tags %}
                                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% csrf_token %}
                            {{ form|crispy }}

                            <div id="button">
                                <input id="submit" class="submit_button btn btn-lg btn-block wow fadeInUp" type="submit"
                                       value="Login"/>
                            </div>
                        </div>
                        <div class="ajax-response"></div>
                    </form>

                </div>
            </div>
        </div>

    </section>
{% endblock %}
